[submodule "zprezto"]
	path = zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "mutt/mutt-colors-solarized"]
	path = mutt/mutt-colors-solarized
	url = git@github.com:altercation/mutt-colors-solarized.git
[submodule "vundle"]
	path = vundle
	url = git@github.com:gmarik/vundle.git
