set my_df_user=roderick@bigdata-startups.com
set my_df_pass="`~/.offlineimap/pass.sh`"

set from      = roderick@bigdata-startups.com
set realname  = "Roderick Schaefer"
set signature = "~/.mutt/accounts/df-sig"
set imap_user = $my_df_user
set imap_pass = $my_df_pass
set smtp_url  ="smtp://$my_df_user@smtp.gmail.com:587" smtp_pass="$my_df_pass"

unmy_hdr X-Someheader
my_hdr X-Datafloq: The One-Stop Shop around Big Data
