set sendmail      = "/usr/bin/msmtp"
set use_from      = yes
set realname      = "Roderick Schaefer"
set from          = roderick@bigdata-startups.com
set envelope_from = yes
set signature     = "~/.mutt/accounts/df-sig"

unmy_hdr X-Someheader
my_hdr X-Datafloq: The One-Stop Shop around Big Data
